#intro {
    position: absolute;
    background: rgb(43, 42, 42);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: slideUp 3s ease-out forwards;
    z-index: 1000;
}
  
#intro .text{
    opacity: 0;
    animation: fadeIn forwards;
    color: white;
}
  
#intro .handshake{
    display: flex;
    font-size: x-large;
    gap: 7px;
    align-items: center;
    justify-content: center;
}
  
#intro .varsity{
    font-style: oblique;
    align-items: center;
    justify-content: center;
}
  
@keyframes fadeIn {
    to{
      opacity: 1;
    }
}

@keyframes slideUp {
    80% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
      display: none;
    }
}